extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style 
        include ../static/style.css
block content


    section#introSection
        div.line1 Welcome to Dance Academy 
        div.line2 Eat Sleep Dance Repeat
    section#sponsorSection 
        | section for sponsor 